@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/books-library-students-12064.jpg" alt="banner" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Welcome to the Abraham Hoy University home page. Use the navigation above to check out
            the departments, instructors, and courses to get started!
        </p>
    </div>
    <div class="col-md-4 center">
        <h2>Students</h2>
        <p>Check out our list of <a asp-area="" asp-controller="Courses" asp-action="Index">courses</a>!</p>
    </div>
    <div class="col-md-4 right">
        <h2>Instructors</h2>
        <p>Our Instructors are the best money can buy. Check which instructors are available for your courses!</p>
    </div>
</div>